* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    overflow: hidden;


}
.hideButton {
    display: none!important;
}

body {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #124658 !important;
}

.containerSelf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.sideBarLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.selfgroupbutton {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-fluid {
    background-color: #27355c;

}

.card-body {
    background-image: url(../quizapp/brainbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-color: #124658 !important;
}

.card {
    height: 350px;
    min-width: 320px !important;
}


.progress {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}


.category {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: center;
    margin-bottom: 80px;

}

.navbar-brand {
    color: white !important;
}

.self-group {
    background-color: transparent !important;
}


.selfImg {
    margin: 25px;
}

.list-group-item-action:hover {
    color: rgba(0, 0, 0, 0.85) !important;
    font-weight: bold;

}

.list-group-item-action:focus {
    background-color: rgba(0, 0, 0, 0.25);

}

.bg-danger {
    color: white !important;
}

.bg-success {
    color: white !important;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 10px;
}



.extraHeader {
    display: flex !important;
    flex-direction: row-reverse !important;
    border: none !important;
}
.selfNav {
    width: 30%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    background: #27355c;
    gap: 15px;
}

.selfa{
    list-style-type: none;
    color: #919ab1!important;
    width: 100% !important;
}


.extrapadding {
    padding-top: 15px;
}
.selfImg {
    margin: 16px;
    height: 72px;
    width: auto;
    
}
.selfButton {
    width: 100% !important;
    background: none !important;
    color: #919ab1 !important;
    border-width: 0px !important;
    border-right: 0px!important;
    border-bottom: 0px!important;
    border-top: 0px!important;
    width: 115px !important;
    height: 30px !important;


}
.selfButton:hover,
.selfButton:active,
.selfButton:focus
{
    border-width: 5px !important;
    border-right: 5px!important;
    border-bottom: 5px!important;
    border-top: 5px!important;
    width: 100% !important;
    padding-left: 7px !important;
    color: #f7fcff!important;
}
.selfBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.selfHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .restartQuestion {
    display: none;
}
 */