* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    overflow: hidden;
}
body {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.containerSelf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.sideBarLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.selfgroupbutton {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-fluid {
    background-color: #27355c;

}
.card-body {
    background-image: url(../quizapp/brainbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}
.card {
    height: 350px;
}

.progress {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}


.category {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: center;
    margin-bottom: 80px;

}
.navbar-brand {
    color: white!important;
}

.selfImg {
    margin: 25px;
}
